* {
 padding: 0;
 margin: 0;

}

body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 2% auto 2%;
  gap: 12px;
  row-gap: 60px;
  font-family: 'Open Sans', sans-serif;
}

body video {
  z-index: -100;
  object-fit: cover;
  width: 100vw;
  position: relative;
  min-height: 600px;
  background-blend-mode: multiply;
}

.cover-color {
  grid-column: 1/4;
  width: 100%;
  background-image: linear-gradient(white 1%, black);
  min-height: 450px;
  position: absolute;
  z-index: -99;
  mix-blend-mode: screen;
}

header {
  grid-row: 1;
  grid-column: 1 / 4;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-top {
  display: grid;
  grid-template-columns: 200px auto 72px;
  grid-template-rows: 72px auto;
  overflow: hidden;
  row-gap: 16px;
}

.logo-top {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  padding-left: 16px;
  padding-top: 16px;
}

.logo-top img{
  width: 180px;
}

.nav-links {
  display: none;
  height: auto;
  grid-row: 2;
  grid-column: 1 / 4;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.3% 33.3% 33.3%;
}

.nav-links div {
  text-align: center;
  height: 72px;
  line-height: 72px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  border-top: 2px solid rgba(255, 255, 255, 0);
}

.nav-links div:nth-of-type(odd) {
  border-right: 2px solid rgba(255, 255, 255, 0);
}

.nav-link-1 { 
  background-image: linear-gradient(#75d373,#75d373), url("https://vimuseo.com/images/menu/Menu-Austellungen.jpg");
}

.nav-link-2 {
  background-image: linear-gradient(#75d373,#75d373), url("https://vimuseo.com/images/menu/Menu-Shops.jpg");
}

.nav-link-3 {
  background-image: linear-gradient(#75d373,#75d373), url("https://vimuseo.com/images/menu/Menu-Virtueller-Rundgang.jpg");
}

.nav-link-4 {
  background-image: linear-gradient(#75d373,#75d373), url("https://vimuseo.com/images/menu/Menu-Nachrichten.jpg");
}

.nav-link-5 {
  background-image: linear-gradient(#75d373,#75d373), url("https://vimuseo.com/images/menu/Menu-BesucherRegistrierung.jpg");
}

.nav-link-6 {
  background-image: linear-gradient(#75d373,#75d373), url("https://vimuseo.com/images/menu/Menu-PartnerRegistrierung.jpg");
}

.nav-top ul li{
  font-weight: 700;
  font-size: large;
  margin: 5px;
}

.nav-top ul li::before {
  content: "* ";
  vertical-align: middle;
}

.icon {
  grid-column: 3;
  font-size: 52px;
  color: black;
  text-align: center;
}

.page-content {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-rows: auto;
  gap: 32px;
}

.online-experiences {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto;
  gap: 16px;
}

.online-experiences h3 {
  font-size: 24px;
}

.online-experiences p {
  font-style: italic;
}

.online-experiences article {
  text-align: left;
  line-height: 475px;
  padding: 6px;
  font-size: 24px;
  color: white;
  height: 250px;
  background-size: cover;
  background-blend-mode: hard-light;
}


.online-visit-1 {
  background-image: linear-gradient( rgba(255, 255, 255, 0) 70%, #6a1921), url("https://vimuseo.com/var/Userdata/23822/Galerie/gal2382204144ba148b47ff04be6801479ffc152b.jpg");
}

.online-visit-2 {
  background-image: linear-gradient( rgba(255, 255, 255, 0) 70%, #6a1921), url("https://vimuseo.com/var/Userdata/24651/Galerie/gal246510e3504c3fd8bbf81c36dc8e93f5bda382.jpg");
}

.online-visit-3 {
  background-image: linear-gradient( rgba(255, 255, 255, 0) 70%, #6a1921), url("https://vimuseo.com/var/Userdata/25221/Galerie/gal2522125fdf57f2d7b2e2249a17c78b3600fed.jpg");
}

.online-visit-4 {
  background-image: linear-gradient( rgba(255, 255, 255, 0) 70%, #6a1921), url("https://vimuseo.com/var/Userdata/26022/Galerie/gal26022e62677fc89a83cac7cf6c34107a612ea.jpg");
}

.on-site {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  gap: 16px;
}

.on-site h3 {
  font-size: 24px;
}

.on-site article {
  font-size: 24px;
  height: 150px;
  padding: 6px;
  color: white;
  background-size: cover;
  background-blend-mode: hard-light;
  text-align: right;
  position: relative;
  z-index: -15;
}

.on-site h6{
 position: absolute;
 top: 130px;
}

.on-site p {
  font-style: italic;
}

.exhibition-1 {
  background-image: linear-gradient( #6a1921, rgba(255, 255, 255, 0) 70%, #6a1921), url("https://vimuseo.com/var/Userdata/25123/Ausstellung/Images/ausprofil25123011ee0fedbc993ed7edd1add3b57a0217.jpg");
}

.exhibition-2 {
  background-image: linear-gradient( #6a1921, rgba(255, 255, 255, 0) 70%, #6a1921), url("https://vimuseo.com/var/Userdata/1672/Ausstellung/Images/ausprofil167200644cf85d93e941db3a4a1dab7947e8a.jpg");
}

.finder {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  gap: 12px;
}

.finder p {
  font-style: italic;
}

.finder select{
  background-color: #75d373;
  border: none;
  height: 48px;
  color: white;
}

.finder input:nth-of-type(1) {
  background-color: lightgray;
  border: none;
  height: 48px;
  color: darkgray;
  /*fix this stoopidness*/
  width: 210px;
  font-size: 14 px;
}

.finder button {
  background-color: lightgray;
  border: none;
  height: 48px;
  width: 48px;
}

footer {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto;
  gap: 30px;
}

footer figure {
  grid-row: 1;
  display: grid;
  margin-top: 75px;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto 15px;
  justify-content: center;
  gap: 70px;
}

footer figure img{
  width: 100%;
  grid-column: 2;
}

footer small {
  width: 100%;
  grid-row: 2;
  text-align: center;
  grid-column: 1 / 4;
}

footer h5 {
  font-size: 16px;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-top: 6px;
  background-color:#75d373;
  color: white;
  height: 2em;
  line-height: 2em;
  padding: 3px;
}

.cta {
  display: grid;
  grid-template-rows: auto 235px 135px auto;
  grid-template-columns: 30% 35% 35%;
}

.cta h1{
  grid-row: 1;
  grid-column: 1 /4;
  font-size: 48px;
  font-family: 'Russo One', sans-serif;
}

.cta p {
  grid-row: 3;
  grid-column: 1 /4;
  font-style: italic;
  font-size: large;
  color: white;
}

.cta button {
  grid-row: 4;

  background-color: #75d373;
  color: white;
  height: 2.5em;
  padding: 0 0.7em 0 0.7em;
  border: none;
  font-size: 18px;
}

.cta-button1 {
  grid-row: 3;
  grid-column: 2;
  max-width: 150px;
  margin-left: auto;
}

.cta-button2 {
  grid-row: 3;
  grid-column: 3;
  max-width: 150px;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
}
